{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Dia de la semana</td>
			<td>Inicio</td>
			<td>Fin</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if hora %}
		{% for hora in hora %}
		<tr>
			<td>{{ hora.id }}</td>
			{% if hora.Dia == "1" %}
                 <td>Lunes</td>
			{% endif %}
			{% if hora.Dia == "2" %}
                 <td>Martes</td>
			{% endif %}
			{% if hora.Dia == "3" %}
                 <td>Miercoles</td>
			{% endif %}
			{% if hora.Dia == "4" %}
                 <td>Jueves</td>
			{% endif %}
			{% if hora.Dia == "5" %}
                 <td>Viernes</td>
			{% endif %}
			{% if hora.Dia == "6" %}
                 <td>Sabado</td>
			{% endif %}
			{% if hora.Dia == "7" %}
                 <td>Domingo</td>
			{% endif %}

			<td>{{ hora.Inicio }}</td>
			<td>{{ hora.Fin }}</td>
			<td>

				<a class="btn btn-danger" href="{% url 'deletehora' hora.id %}">Eliminar</a>

			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de horarios</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
	<a class="btn btn-primary" href="{% url 'nuevahora' %}">Agregar Horario</a>
</ul>

{% endblock%}